fastapi==0.135.1
starlette==0.52.1
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic-settings
jinja2==3.1.6
python-multipart
passlib[bcrypt]
python-jose[cryptography]
email-validator
aiosmtplib